@model IEnumerable<PDKBattleTracker.Models.GameSize>

@{
    ViewData["Title"] = "Index";
}

<h1>Game Sizes</h1>

<p>
    <a asp-area="" asp-controller="Home" asp-action="Admin">Back </a>
    |
    <a asp-action="Create"> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameSizeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameSizeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameSizeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameSizeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameSizeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
