@model PDKBattleTracker.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Game</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h3>Game Information</h3>
            @*<input type="hidden" value="@Model.GameId" name="GameId" />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSystemId" class="control-label">Game System</label>
                <div>
                    <select id="GameSystemId" name="GameSystemId" asp-for="GameSystemId" asp-items="@(new SelectList(ViewBag.GameSystemList, "GameSystemId", "GameSystemName"))" class="form-control">
                        <option value="0">--- select game system ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GameTypeId" class="control-label">Game Type</label>
                <div>
                    <select id="GameTypeId" name="GameTypeId" asp-for="GameTypeId" asp-items="@(new SelectList(ViewBag.GameTypeList, "GameTypeId", "GameTypeName"))" class="form-control">
                        <option value="0">--- select game type ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GameSizeId" class="control-label">Game Size</label>
                <div>
                    <select id="GameSizeId" name="GameSizeId" asp-for="GameSizeId" asp-items="@(new SelectList(ViewBag.GameSizeList, "GameSizeId", "GameSizeName"))" class="form-control">
                        <option value="0">--- select game size ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MissionId" class="control-label">Game Mission</label>
                <div>
                    <select id="MissionId" name="MissionId" asp-for="MissionId" asp-items="@(new SelectList(ViewBag.MissionList, "MissionId", "MissionName"))" class="form-control">
                        <option value="0">--- select game mission ---</option>
                    </select>
                </div>
            </div>
            <h3>Player 1 Information</h3>
            <div class="form-group">
                <label asp-for="Player1Name" class="control-label">Player 1</label>
                <div>
                    <select id="Player1Name" name="Player1Name" asp-for="Player1Name" asp-items="@(new SelectList(ViewBag.PlayerList, "PlayerName", "PlayerName"))" class="form-control">
                        <option value="0">--- select player 1 ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player1Faction" class="control-label"></label>
                <div>
                    <select id="Player1Faction" name="Player1Faction" asp-for="Player1Faction" asp-items="@(new SelectList(ViewBag.FactionList, "FactionName", "FactionName"))" class="form-control">
                        <option value="0">--- select faction ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player1SubFaction" class="control-label"></label>
                <div>
                    <select id="Player1SubFaction" name="Player1SubFaction" asp-for="Player1SubFaction" asp-items="@(new SelectList(ViewBag.SubFactionList, "SubFactionName", "SubFactionName"))" class="form-control">
                        <option value="0">--- select subfaction ---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Player1Custom1" class="control-label">Custom 1 (optional)</label>
                <input asp-for="Player1Custom1" class="form-control" />
                <span asp-validation-for="Player1Custom1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Custom2" class="control-label">Custom 2 (optional)</label>
                <input asp-for="Player1Custom2" class="form-control" />
                <span asp-validation-for="Player1Custom2" class="text-danger"></span>
            </div>

            <h3>Scoring</h3>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound2Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound2Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound3Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound3Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound3Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound4Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound4Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound4Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound5Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound5Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound5Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary1text" class="control-label"></label>
                <input asp-for="Player1Secondary1text" class="form-control" />
                <span asp-validation-for="Player1Secondary1text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary1Points" class="control-label"></label>
                <input asp-for="Player1Secondary1Points" value="0" class="form-control" />
                <span asp-validation-for="Player1Secondary1Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary2" class="control-label"></label>
                <input asp-for="Player1Secondary2" class="form-control" />
                <span asp-validation-for="Player1Secondary2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary2Points" class="control-label"></label>
                <input asp-for="Player1Secondary2Points" value="0" class="form-control" />
                <span asp-validation-for="Player1Secondary2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary3" class="control-label"></label>
                <input asp-for="Player1Secondary3" class="form-control" />
                <span asp-validation-for="Player1Secondary3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary3Points" class="control-label"></label>
                <input asp-for="Player1Secondary3Points" value="0" class="form-control" />
                <span asp-validation-for="Player1Secondary3Points" class="text-danger"></span>
            </div>
            <h3>Player 2 Information</h3>
            <div class="form-group">
                <label asp-for="Player2Name" class="control-label">Player 2</label>
                <div>
                    <select id="Player2Name" name="Player2Name" asp-for="Player2Name" asp-items="@(new SelectList(ViewBag.PlayerList, "PlayerName", "PlayerName"))" class="form-control">
                        <option value="0">--- select player 2 ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player2Faction" class="control-label"></label>
                <div>
                    <select id="Player2Faction" name="Player2Faction" asp-for="Player2Faction" asp-items="@(new SelectList(ViewBag.FactionList, "FactionName", "FactionName"))" class="form-control">
                        <option value="0">--- select faction ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player2SubFaction" class="control-label"></label>
                <div>
                    <select id="Player2SubFaction" name="Player2SubFaction" asp-for="Player2SubFaction" asp-items="@(new SelectList(ViewBag.SubFactionList, "SubFactionName", "SubFactionName"))" class="form-control">
                        <option value="0">--- select subfaction ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player2Custom1" class="control-label">Custom 1 (optional)</label>
                <input asp-for="Player2Custom1" class="form-control" />
                <span asp-validation-for="Player2Custom1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Custom2" class="control-label">Custom 2 (optional)</label>
                <input asp-for="Player2Custom2" class="form-control" />
                <span asp-validation-for="Player2Custom2" class="text-danger"></span>
            </div>
            <h3>Scoring</h3>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound2Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound2Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound3Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound3Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound3Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound4Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound4Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound4Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound5Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound5Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound5Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary1text" class="control-label"></label>
                <input asp-for="Player2Secondary1text" class="form-control" />
                <span asp-validation-for="Player2Secondary1text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary1Points" class="control-label"></label>
                <input asp-for="Player2Secondary1Points" value="0" class="form-control" />
                <span asp-validation-for="Player2Secondary1Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary2" class="control-label"></label>
                <input asp-for="Player2Secondary2" class="form-control" />
                <span asp-validation-for="Player2Secondary2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary2Points" class="control-label"></label>
                <input asp-for="Player2Secondary2Points" value="0" class="form-control" />
                <span asp-validation-for="Player2Secondary2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary3" class="control-label"></label>
                <input asp-for="Player2Secondary3" class="form-control" />
                <span asp-validation-for="Player2Secondary3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary3Points" class="control-label"></label>
                <input asp-for="Player2Secondary3Points" value="0" class="form-control" />
                <span asp-validation-for="Player2Secondary3Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
