@model PDKBattleTracker.Models.Game
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
@if(ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Player1Name" class="control-label">Player 1 Name</label>
                <div class="col-md-5">
                    <select id="Player1Name" name="Player1Name" asp-for="Player1Name" asp-items="@(new SelectList(ViewBag.PlayerList, "PlayerName", "PlayerName"))" class="form-control">
                        <option value="0">--- select player ---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Player2Name" class="control-label">Player 2 Name</label>
                <div class="col-md-5">
                    <select id="Player2Name" name="Player2Name" asp-for="PlayerId" asp-items="@(new SelectList(ViewBag.PlayerList, "PlayerName", "PlayerName"))" class="form-control">
                        <option value="0">--- select player ---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Player1Faction" class="control-label">Player 1 Faction</label>
                <div class="col-md-5">
                    <select id="Player1Faction" name="Player1Faction" asp-for="Player1Faction" asp-items="@(new SelectList(ViewBag.FactionList, "FactionName", "FactionName"))" class="form-control">
                        <option value="0">--- select faction ---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Player2Faction" class="control-label">Player 2 Faction</label>
                <div class="col-md-5">
                    <select id="Player2Faction" name="Player2Faction" asp-for="Player2Faction" asp-items="@(new SelectList(ViewBag.FactionList, "FactionName", "FactionName"))" class="form-control">
                        <option value="0">--- select faction ---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Player1SubFaction" class="control-label">Player 1 SubFaction</label>
                <div class="col-md-5">
                    <select id="Player1SubFaction" name="Player1SubFaction" asp-for="Player1SubFaction" asp-items="@(new SelectList(ViewBag.SubFactionList, "SubFactionName", "SubFactionName"))" class="form-control">
                        <option value="0">--- select subfaction ---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Player2SubFaction" class="control-label">Player 2 SubFaction</label>
                <div class="col-md-5">
                    <select id="Player2SubFaction" name="Player2SubFaction" asp-for="Player2SubFaction" asp-items="@(new SelectList(ViewBag.SubFactionList, "SubFactionName", "SubFactionName"))" class="form-control">
                        <option value="0">--- select subfaction ---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Player1Score" class="control-label"></label>
                <input asp-for="Player1Score" class="form-control" />
                <span asp-validation-for="Player1Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Score" class="control-label"></label>
                <input asp-for="Player2Score" class="form-control" />
                <span asp-validation-for="Player2Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Winner" class="control-label"></label>
                <input asp-for="Winner" class="form-control" />
                <span asp-validation-for="Winner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
