@model PDKBattleTracker.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <p>@Html.DisplayNameFor(model => model.GameDate) : @Html.DisplayFor(model => model.GameDate)</p>
    </div>

    <div class="d-lg-flex">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                                @Html.DisplayFor(model => model.Player1Name)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player1Faction)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player1Faction)
                            </td>
                        </tr>

                        <tr style="height:24px;">
                            <td>
                                @Html.DisplayNameFor(model => model.Player1SubFaction)
                            </td>
                            <td class="tall-row">
                                @Html.DisplayFor(model => model.Player1SubFaction)
                                @if (!String.IsNullOrEmpty(Model.Player1Custom1))
                                {
                                    <p class="small font-italic pb-0 mb-0">
                                        @Html.DisplayFor(model => model.Player1Custom1)
                                    </p>
                                }

                                @if (!String.IsNullOrEmpty(Model.Player1Custom2))
                                {
                                    <p class="small font-italic pb-0 mb-0">
                                        @Html.DisplayFor(model => model.Player1Custom2)
                                    </p>
                                }
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Primary
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player1PrimaryRound2Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player1PrimaryRound2Points)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player1PrimaryRound3Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player1PrimaryRound3Points)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player1PrimaryRound4Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player1PrimaryRound4Points)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player1PrimaryRound5Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player1PrimaryRound5Points)
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Secondary
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!String.IsNullOrEmpty(Model.Player1Secondary1text) && Model.Player1Secondary1text.ToString() != "Secondary #1 (optional)")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Player1Secondary1text)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Player1Secondary1Points)
                                </td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.Player1Secondary2) && Model.Player1Secondary2.ToString() != "Secondary #2 (optional)")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Player1Secondary2)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Player1Secondary2Points)
                                </td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.Player1Secondary3) && Model.Player1Secondary3.ToString() != "Secondary #3 (optional)")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Player1Secondary3)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Player1Secondary3Points)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                                @Html.DisplayFor(model => model.Player2Name)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player2Faction)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player2Faction)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player2SubFaction)
                            </td>
                            <td class="tall-row">
                                @Html.DisplayFor(model => model.Player2SubFaction)
                                @if (!String.IsNullOrEmpty(Model.Player2Custom1))
                                {
                                    <p class="small font-italic pb-0 mb-0">
                                        @Html.DisplayFor(model => model.Player2Custom1)
                                    </p>
                                }

                                @if (!String.IsNullOrEmpty(Model.Player2Custom2))
                                {
                                    <p class="small font-italic pb-0 mb-0">
                                        @Html.DisplayFor(model => model.Player2Custom2)
                                    </p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Primary
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player2PrimaryRound2Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player2PrimaryRound2Points)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player2PrimaryRound3Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player2PrimaryRound3Points)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player2PrimaryRound4Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player2PrimaryRound4Points)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Player2PrimaryRound5Points)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player2PrimaryRound5Points)
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Secondary
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!String.IsNullOrEmpty(Model.Player2Secondary1text) && Model.Player2Secondary1text.ToString() != "Secondary #1 (optional)")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Player2Secondary1text)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Player2Secondary1Points)
                                </td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.Player2Secondary2) && Model.Player2Secondary2.ToString() != "Secondary #2 (optional)")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Player2Secondary2)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Player2Secondary2Points)
                                </td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.Player2Secondary3) && Model.Player2Secondary3.ToString() != "Secondary #3 (optional)")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Player2Secondary3)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Player2Secondary3Points)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GameId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
