@model PDKBattleTracker.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player1Faction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player1Faction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player2Faction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player2Faction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player1Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player1Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player2Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player2Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Winner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Winner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.PlayerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
