@model IEnumerable<PDKBattleTracker.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Games Home</h1>

<p>
    <a asp-action="Create">Add New Game</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.GameDate)
                </th>
                <th scope="col">
                    Player 1
                </th>
                <th scope="col">
                    Score
                </th>
                <th scope="col">
                    Player 2
                </th>
                <th scope="col">
                    Score
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Winner)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player1Name)
                        <p class="small font-italic pb-0 mb-0">@Html.DisplayFor(modelItem => item.Player1Faction)</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player1Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player2Name)
                        <p class="small font-italic pb-0 mb-0">@Html.DisplayFor(modelItem => item.Player2Faction)</p>
</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player2Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Winner)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
