@model IEnumerable<PDKBattleTracker.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Player1Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Player1Faction)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Player2Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Player2Faction)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Faction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Faction)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameSystemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameSizeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionId)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Player1Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Faction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1SubFaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Custom1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Custom2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1PrimaryRound2Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1PrimaryRound3Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1PrimaryRound4Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1PrimaryRound5Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Secondary1text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Secondary1Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Secondary2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Secondary2Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Secondary3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1Secondary3Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Faction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2SubFaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Custom1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Custom2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2PrimaryRound2Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2PrimaryRound3Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2PrimaryRound4Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2PrimaryRound5Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Secondary1text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Secondary1Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Secondary2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Secondary2Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Secondary3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Secondary3Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameSystemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameSizeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionId)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Player1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Faction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1SubFaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Custom1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Custom2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1PrimaryRound2Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1PrimaryRound3Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1PrimaryRound4Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1PrimaryRound5Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Secondary1text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Secondary1Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Secondary2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Secondary2Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Secondary3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Secondary3Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Faction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2SubFaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Custom1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Custom2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2PrimaryRound2Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2PrimaryRound3Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2PrimaryRound4Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2PrimaryRound5Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Secondary1text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Secondary1Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Secondary2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Secondary2Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Secondary3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Secondary3Points)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
